In [1]:
import yfinance as yf

In [ ]:
# define ticker symbol

In [2]:
tickerSymbol = 'AAPL'

In [ ]:
# get data on this ticker

In [3]:
tickerData = yf.Ticker(tickerSymbol)

In [4]:
# get the historical prices for this ticker

In [5]:
tickerDf = tickerData.history(period = '1mo', start = '2015-1-1', end ='2020-4-30')

In [6]:
# see your data

In [ ]:
# period= the frequency at which to gather the data; common options would include

In [ ]:
# '1d' (daily), '1mo'(monthly), '1y' (yearly). start = the date to start gathering the data

In [ ]:
# for example '2010-1-1'. end date= '2020-3-20'

In [7]:
tickerDf

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2014-12-31   41.84   42.47   41.59   41.59   21552500        0.0             0
2015-01-02   41.78   42.46   41.67   41.86   27913900        0.0             0
2015-01-05   41.52   41.84   41.41   41.48   39673900        0.0             0
2015-01-06   41.52   41.86   40.77   40.87   36447900        0.0             0
2015-01-07   41.17   41.60   40.73   41.39   29114100        0.0             0
2015-01-08   41.86   42.75   41.83   42.61   29645200        0.0             0
2015-01-09   42.63   42.81   41.99   42.25   23944200        0.0             0
2015-01-12   42.46   42.56   41.51   41.72   23651900        0.0             0
2015-01-13   42.05   42.89   41.24   41.51   35270600        0.0             0
2015-01-14   41.15   41.40   40.84   41.15   29719600        0.0             0
2015-01-15   41.38   41.52   40.66   40.72   32750800        0.0             0
2015-01-16   40.57   41.44   40.44   41.40   35695300        0.0             0
2015-01-20   41.45   41.77   40.80   41.53   36161900        0.0             0
2015-01-21   41.13   41.31   40.72   41.11   39081100        0.0             0
2015-01-22   41.52   42.21   41.26   42.20   35898000        0.0             0
2015-01-23   42.40   42.43   41.90   42.24   26211600        0.0             0
2015-01-26   42.08   42.20   41.40   42.09   42525500        0.0             0
2015-01-27   38.45   38.68   37.70   38.19  169164000        0.0             0
2015-01-28   38.27   38.31   36.85   36.88   84507100        0.0             0
2015-01-29   36.65   37.71   36.52   37.61   63585300        0.0             0
2015-01-30   37.20   37.23   36.13   36.17   78004900        0.0             0
2015-02-02   36.34   37.04   36.02   36.96   50352500        0.0             0
2015-02-03   37.27   37.54   36.75   37.25   52082400        0.0             0
2015-02-04   37.55   37.79   37.03   37.46   41614800        0.0             0
2015-02-05   37.80   38.18   37.48   38.01   36548200        0.0             0
2015-02-06   38.21   38.31   37.74   37.97   34616600        0.0             0
2015-02-09   37.82   38.27   37.79   37.93   31381100        0.0             0
2015-02-10   38.27   38.29   37.76   38.14   29670700        0.0             0
2015-02-11   38.19   38.19   37.79   37.94   38262500        0.0             0
2015-02-12   38.19   38.58   38.06   38.58   33268800        0.0             0
...            ...     ...     ...     ...        ...        ...           ...
2020-03-18  138.00  146.00  135.02  140.40   81593200        0.0             0
2020-03-19  142.77  150.15  139.00  142.71   85922700        0.0             0
2020-03-20  146.00  147.10  135.86  137.35   84866200        0.0             0
2020-03-23  137.01  140.57  132.52  135.98   78975200        0.0             0
2020-03-24  143.75  149.60  141.27  148.34   82516700        0.0             0
2020-03-25  148.91  154.33  144.44  146.92   75638200        0.0             0
2020-03-26  148.40  156.66  148.37  156.11   64568100        0.0             0
2020-03-27  151.75  154.89  149.20  149.70   57042300        0.0             0
2020-03-30  152.44  160.60  150.01  160.23   63420300        0.0             0
2020-03-31  159.40  164.78  156.56  157.71   77927200        0.0             0
2020-04-01  153.00  157.75  150.82  152.11   57969900        0.0             0
2020-04-02  151.86  155.48  150.36  155.26   49630700        0.0             0
2020-04-03  155.10  157.38  152.19  153.83   41243300        0.0             0
2020-04-06  160.32  166.50  157.58  165.27   67111700        0.0             0
2020-04-07  169.59  170.00  163.26  163.49   62769000        0.0             0
2020-04-08  165.67  166.67  163.50  165.13   48318200        0.0             0
2020-04-09  166.36  167.37  163.33  165.14   51431800        0.0             0
2020-04-13  164.35  165.57  162.30  165.51   41905300        0.0             0
2020-04-14  169.00  173.75  168.00  173.70   52874300        0.0             0
2020-04-15  171.20  173.57  169.24  171.88   40940800        0.0             0
2020-04-16  174.30  177.28  172.90  177.04   50479600        0.0             0
2020-04-17  179.50  180.00  175.87  178.60   52765600        0.0             0
2020-04-20  176.63  178.75  174.99  175.06   36669600        0.0             0
2020-04-21  173.50  173.67  166.11  167.82   56203700        0.0             0
2020-04-22  171.39  174.00  170.82  173.52   34651600        0.0             0
2020-04-23  174.11  175.06  170.91  171.42   32790800        0.0             0
2020-04-24  172.06  174.56  170.71  174.55   34305300        0.0             0
2020-04-27  176.59  176.90  173.30  174.05   33194400        0.0             0
2020-04-28  175.59  175.67  169.39  169.81   34392700        0.0             0
2020-04-29  173.22  177.68  171.88  177.43   51286600        0.0             0

[1341 rows x 7 columns]

In [ ]:
# alternative

In [8]:
from pandas_datareader import data as wb

In [9]:
MSFT = wb.DataReader('MSFT', data_source = 'yahoo', start = '2010-1-1')

In [10]:
MSFT.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.925440
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.153070
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.901886